.info-div {
    display: flex;
    justify-content: space-around;
}

.note-prompt {
    font-size: 60px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.highlight-text {
    color: orange;
    display: contents;
}

.info-text {
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    color: white;
}

.sub-text {
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    color: white;
}