
.info-container {
    display: flex;
    justify-content: space-around;
    background-color: #16252e;
    border-bottom: #1e313d 7px solid;
    ;
}

.note-names-toggle {
    display: inline-flex;
}

.sub-text.bold {
    font-weight: bold;
}

#noteNamesToggle {
    width:30px;
    height:30px;
}

.note-prompt {
    font-size: 60px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.highlight-text {
    color: orange;
    display: contents;
}

.info-text {
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    color: white;
}

.sub-text {
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.demo-disclaimer {
    font-size: 22px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(213, 213, 213);
    padding: 10px;
}